.container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.item{
    width: 300px;
    height: 300px;
    margin: 5px;
    padding: 2px;
}

.item img{
    width: 20vh;
    height: 20vh;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}