{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ details.title }}
{% endblock %}

{% block headers %}
    <link rel="stylesheet" href="{% static 'product/styles/details_style.css' %}">
{% endblock %}

{% block content %}
    <div>
        <div>
            <img src="http://{{ request.get_host }}/{{ details.image }}">
            <h3>available {{ details.available }}</h3>
        </div>
        <div>
            {% for store  in details.stores %}
                <a href="{{ store.product_url }}">
                    <div>
                        <h4>{{ store.name }} => price :  {{ store.product_price }}</h4>
                    </div>
                </a>
            {% endfor %}

        </div>
    </div>
{% endblock %}