{% extends "base.html" %}
{% load static %}

{% block title %}Products{% endblock %}

{% block headers %}
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <link rel="stylesheet" href="{% static 'product/styles/styles.css' %}">
{% endblock %}

{% block list %}
    <div class="container">
        {% for product in products %}
            <a href="http://{{ request.get_host }}/products/{{ product.id }}">
                <div class="product item">
                    <div class="card">
                        {% if product.image %}
                            <img src="http://{{ request.get_host }}/{{ product.image }}" alt="Error" style="width:100%">
                        {% else %}
                            <img src="https://www.macmillandictionary.com/external/slideshow/thumb/White_thumb.png"
                                 alt="Error" style="width:100%">
                        {% endif %}
                        <h4>{{ product.title }}</h4>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}