{% extends "base.html" %}
{% load static %}

{% block title %}Stores{% endblock %}

{% block headers %}
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <link rel="stylesheet" href="{% static 'store/styles/styles.css' %}">
{% endblock %}

{% block list %}
    <div class="container">
        {% for store in stores %}
            <div class="store item">
                <div class="card">
                    <a href="../search?s={{ store.name }}/">
                        {% if store.image %}
                            <img src="http://{{ request.get_host }}/{{ store.image }}" alt="Error" style="width:100%">
                        {% else %}
                            <img src="https://www.macmillandictionary.com/external/slideshow/thumb/White_thumb.png"
                                 alt="Error" style="width:100%">
                        {% endif %}
                        <h4>{{ store.name }}</h4>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}