{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles/navbar_style.css' %}">
    {% block headers %}
    {% endblock %}
</head>
<body>
{% include "navbar.html" %}
{% block content %}{% endblock %}
{% block list %}{% endblock %}
{% block footer %}{% endblock %}
</body>
</html>